body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.background-video {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}


.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(0, 0, 0, 0.804);
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  text-align: center;
  min-width: 300px;
  backdrop-filter: blur(5px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00ffff;
}

.profile-pic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.projects-card .project {
  margin: 15px 0;
  padding: 10px;
  background: rgba(0,255,255,0.05);
  border-radius: 10px;
}

.projects-card .project a {
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
}

.projects-card .project a:hover {
  text-decoration: underline;
}

.project{
    transition: 0.5s ease-in-out;
}

.project:hover{
    transform: scaleY(1.1);
    box-shadow: 0 0 20px #00ffff;
}

.links-card .icons a {
  margin: 0 10px;
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
}

.links-card .icons a:hover {
  text-shadow: 0 0 10px #00ffff;
}